body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #000;
    display: none;
}

#gameMenu {
    text-align: center;
}

#startButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#scoreDisplay {
    font-size: 20px;
    position: absolute;
    padding: 0px;
    background-color: #f0f0f0;
    display: none;
    margin-bottom: 460px;
    left: 50%;
    transform: translateX(-50%);
}

#gameOverText {
    font-size: 35px;
    color: #000000;
    position: absolute;
    margin-top: -320px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    white-space: nowrap;
}

#clearHighScoresButton {
    margin-top: 28px;
    margin-left: 30px;
}