body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid #000000;
    display: none;
    position: relative;
    top: 30px;
}

#gameMenu {
    text-align: center;
}

#startButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#scoreDisplay {
    font-size: 20px;
    position: absolute;
    padding: 0px;
    background-color: #f0f0f0;
    display: none;
    margin-bottom: 460px;
    left: 50%;
    transform: translateX(-50%);
}

#gameOverText {
    font-size: 35px;
    color: #000000;
    position: absolute;
    margin-top: -320px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    white-space: nowrap;
}

#clearHighScoresButton {
    margin-top: 28px;
    margin-left: 30px;
}

.login-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#loginPopup {
    text-align: center;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    padding-left: 120px;
    padding-right: 120px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #000000;
}

#registerButton {
    position: absolute;
    left: 60%;
    top: 83.5%;
}

#logOutButton {
    margin-left: 18px;
}

#loggedInRole {
    position: fixed;
    margin-top: 50px;
}